@use './styles/common';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px); // высота минус header
  padding: 2rem;
  width: 100%;
  background: var(--vp-c-bg);
}

.card {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.loginLink {
  text-align: center;
  margin-top: 1rem;
} 